<%= render '/shared/top_nav' %>

<div class="container-fluid">
  <div class="row">  
    <%= render partial: '/shared/left_nav', locals: { active: '' }%>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <form class="form-horizontal">

        
        <div class="form-group">
        
          <label for="inputName" class="col-sm-2 control-label">Name:</label>
          <div class="col-sm-10">      
                <label class="control-label" for="inputClassroomCode"><%= @classroom.name %></label>            
          </div>
        </div>

        <div class="form-group">
        
          <label for="inputName" class="col-sm-2 control-label">Description:</label>
          <div class="col-sm-10">      
                <label class="control-label" for="inputClassroomCode"><%= @classroom.description %></label>            
          </div>
        </div>


        <div class="form-group">
        
          <label for="inputName" class="col-sm-2 control-label">Classroom Code:</label>
          <div class="col-sm-10">      
                <label class="control-label" for="inputClassroomCode"><%= @classroom.classroom_code %></label>            
          </div>
        </div>
      </form>

      <% if !@classroom.activities.empty? %>  
      <%= form_tag '/student_performance/save_all', {method: 'post'} do |f| %>   
          <%= submit_tag 'Save', {:class=>'btn btn-primary'} %> 
          <%= hidden_field_tag 'classroom_id',  @classroom.id %> 
          <table class="table-condensed table-bordered small" style="table-layout:fixed">
            <tr>
              <td colspan="<%= @classroom.activities.length+1%>" style="text-align:center">Activities</th>            
            </tr>
            <tr>
              <th style="min-width:150px; vertical-align:bottom">Student</th>
              <% @activites_and_student_performance[:activities].each do |a| %>
                  <th class="activity_header" style=""><%= a[:activity].name %></th>                      
              <% end %>
            </tr>
            <% @activites_and_student_performance[:student_performances].each do |sp| %>
              <tr>
                <td class='score_cell'><%= sp[:student].display_name %></td>        
                <% sp[:performance_array].each_with_index do |p, index| %>
                  <td class='score_cell'>
                    <% if @activites_and_student_performance[:activities][index][:activity].activity_type.eql?('scored') %>
                      <%= text_field_tag 'studentPerformance['+ @activites_and_student_performance[:activities][index][:ac_id].to_s + '][' + sp[:student].id.to_s + ']', (!p.nil? ? p.scored_performance : ''), {:class=>'score_input'} %>
                    <% elsif @activites_and_student_performance[:activities][index][:activity].activity_type.eql?('completion') %>
                      <%= select_tag 'studentPerformance['+ @activites_and_student_performance[:activities][index][:ac_id].to_s + '][' + sp[:student].id.to_s + ']' , options_for_select([['Completed', 'true'],['Not Completed','false']], (!p.nil? && p.completed_performance ? 'true' : 'false'))%>
                    <% end %>

                    
                  </td>                      
                <% end %>
              </tr>
            <% end %>
          </table>
        <% end %>
      <% end %>     
    </div>
  </div>
</div>

