<div>
    Signed in as <strong><%= current_user.display_name %></strong>!
    <div>
    	<%= link_to "Sign out", signout_path, id: "sign_out" %>
  	</div> 	
  	
  	<table>
  		
  			<% for i in 0..@classrooms.length-1 %>
  				<% if i%4 == 0 %>
  					<tr>
  				<% end %>
  				<td>
  					<div class='class_selector'>
				  		<a href="/classroom/<%=@classrooms[i].id%>"><%=@classrooms[i].student_users.length%> Students</a>
				  		<div class='class_selector_text'><h4><a href="/classroom/<%=@classrooms[i].id%>"><%= @classrooms[i].name %></a></h4></div>  		
				  	</div>
  					
  				</td>

  				<% if i%4 == 3 %>
  					</tr>
  				<% end %>
  			<% end %>
  			<% if @classrooms.length%4 != 3 %>
					</tr>
				<% end %>
  		</tr>
  	</table>
	  	<div class='class_selector'>
	  		<a href="/classroom/new"><img src="<%= image_url('icon_add_new_plus.png')%>" style=""></a>
	  		<div class='class_selector_text'><h4>Add Class</h4></div>  		
	  	</div>
  	
  	

</div>