<%= render '/shared/top_nav' %>

<div class="container-fluid">
  <div class="row">  
    <%= render partial: '/shared/left_nav', locals: { active: '' }%>

    <div class="col-sm-offset-2 inline-block" >

      <%= render partial: 'classroom_nav_header', locals: { active: 'scores' }%>

      <div class="row search-bar-container">
        <div class="col-sm-3">
          <form action="/classroom/<%= @classroom.id %>" method="get">
            <div class="input-group">            
                <input type="text" class="form-control input-sm" placeholder="" name="searchTerm">
                <span class="input-group-btn">
                  <input type="submit" class="btn btn-default btn-sm" type="button" value="Filter Activities">
                </span>            
            </div>
          </form>
        </div>
      </div>
      <div class="row tag-list-container">
        <div class="col-sm-12">
          <ul id="tagDisplayList" class="list-inline ">            
            <% @tags.values.each do |tag| %>
              <li><a class="label label-info" href="/classroom/<%= @classroom.id %>?tag=<%= tag.name %>">#<%= tag.name %></a></li>
            <% end %> 
          </ul>
      </div>

      </div>

      <div class="classroom-tab-content">         

        
      
        <% if !@search_matched_pairings.empty? %>  
        
        <%= form_tag '/' do |f| %>    
            <table id="perf_table" class="table table-condensed table-bordered small" style="table-layout:fixed; width:inherit; padding-top:10px;">
              <thead>
              <!-- <tr>
                <th colspan="<%= @classroom.activities.length+1%>" style="text-align:center">Activities</th>            
              </tr>    -->         
              <tr>
                <th style="min-width:150px; vertical-align:bottom">Student</th>
                <% @search_matched_pairings.each do |pairing| %>
                    <th class="activity_header" style=""><%= pairing.activity.name %></th>                      
                <% end %>
              </tr>
              </thead>
              <tbody>
                <% @classroom.student_users.each do |student| %>
                  <tr>
                    <td class=''><%= student.display_name %></td>
                    <% @search_matched_pairings.each do |pairing| %>
                      <td class="center <%= !@student_performances[student].nil? && !@student_performances[student][pairing.activity].nil? ? @student_performances[student][pairing.activity].performance_color : '' %>">

                          <%= !@student_performances[student].nil? && !@student_performances[student][pairing.activity].nil? ? @student_performances[student][pairing.activity].performance_pretty : '' %>

                          <% if !@student_performances[student].nil? && !@student_performances[student][pairing.activity].nil? && @student_performances[student][pairing.activity].requires_verification? && !@student_performances[student][pairing.activity].verified %>
                            <br /><a href="/student_performance/verify?student_performance_id=<%= @student_performances[student][pairing.activity].id %>">Verify</a>

                          <% end %>

                      </td> 
                    <% end %>
                  </tr>
                <% end %>

            
              </tbody>
            </table>
          <% end %>
        <% end %>    
      </div> 
    </div>
  </div>
</div>

<script type="text/javascript">
  var ready;
  ready = function() {

    $("#perf_table").tablesorter(); 

  };

  $(document).ready(ready);
  $(document).on('page:load', ready);
  /*$(document).ready(function(){ 
        $("#perf_table").tablesorter(); 
    }); */
    
</script>

