<%= render '/shared/top_nav' %>

<div class="container-fluid">
  <div class="row">  
    <%= render partial: '/shared/left_nav', locals: { active: '' }%>

    <div class="col-sm-offset-2 inline-block" >

      <%= render partial: 'classroom_nav_header', locals: { active: 'view' }%>

      <div class="classroom-tab-content">         
      
        <% if !@classroom.activities.empty? %>  
        
        <%= form_tag '/' do |f| %>    
            <table id="perf_table" class="table table-condensed table-bordered small" style="table-layout:fixed; width:inherit; padding-top:10px;">
              <thead>
              <!-- <tr>
                <th colspan="<%= @classroom.activities.length+1%>" style="text-align:center">Activities</th>            
              </tr>    -->         
              <tr>
                <th style="min-width:150px; vertical-align:bottom">Student</th>
                <% @classroom.activities.each do |a| %>
                    <th class="activity_header" style=""><%= a.name %></th>                      
                <% end %>
              </tr>
              </thead>
              <tbody>
                <% @classroom.student_users.each do |student| %>
                  <tr>
                    <td class=''><%= student.display_name %></td>
                    <% @classroom.activities.each do |activity| %>
                      <td class="<%= !@student_performances[student].nil? && !@student_performances[student][activity].nil? ? @student_performances[student][activity].performance_color : '' %>">
                        <% if activity.activity_type.eql?('scored') %>
                          <%= !@student_performances[student].nil? && !@student_performances[student][activity].nil? ? @student_performances[student][activity].scored_performance_pretty : '' %>
                        <% elsif activity.activity_type.eql?('completion') %>
                          <%= !@student_performances[student].nil? && !@student_performances[student][activity].nil? ? @student_performances[student][activity].completed_performance_desc : ''%>
                        <% end %>
                      </td> 
                    <% end %>
                  </tr>
                <% end %>

            
              </tbody>
            </table>
          <% end %>
        <% end %>    
      </div> 
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() 
    { 
        $("#perf_table").tablesorter(); 
    } 
); 
    
</script>

