<td><%= name %></td>
<td><%= description %></td>
<td><%= instructions %></td>
<td><%= activity_type_pretty %></td>
<td>
  <ul class="list-unstyled">
    <% for(var i=0; i < tags.length; i++){%>
      <li><a class="label teacher_label_info tag" href="#activities/index" name="<%= tags[i].id%>">#<%= tags[i].name %></a>
    <% } %>
  </ul>
</td>
<td><a class="edit_link" href="#activities/<%= id %>/edit" name="activity_<%= id %>">Edit</a></td>
<td><a class="assign_link" name="<%= id %>" href="#activities/index">Assign to Classrooms</a></td>
