  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title"><%= activity_status %> Activity</h4>
    </div>
    <div class="modal-body">
      <form class="form form-horizontal" ui-activity-form>
        <% if(activity_status == "New" && activities != null && activities.length != 0){ %> 
          <div class="form-group">
            <label class="col-md-4 control-label">Copy Activity:</label>
            <div class="col-md-6">
              <input class="form-control input-xs typeahead" id="inputName" placeholder="Type the name of the activity to copy..." type="text" ui-copy-input>
            </div>
            <div class="col-md-2">
              <a href="#" class="btn btn-primary" ui-copy-button>Copy</a>

            </div>
          </div>
        <% } %>
        <div class="form-group <% if(errors.name != null){%>has-error<%}%>">
          <label class="col-md-4 control-label">Activity Name:</label>
          <div class="col-md-8">
            <% if(errors.name != null){%><div class="field_with_errors"><%}%>
            <input class="form-control input-xs" id="inputName" name="activity[name]" placeholder="" type="text" value="<%= name %>" ui-name-input>
            <% if(errors.name != null){%>
              <label class="control-label" for="inputName">Name <%= errors.name[0] %></label>
              </div>
            <%}%>
          </div>
        </div>
        <div class="form-group <% if(errors.activity_type != null){%>has-error<%}%>">
          <label class="col-md-4 control-label">Activity Type:</label>
          <div class="col-md-4">
            <select class="form-control input-xs" id="activity_type_selector" name="activity[activity_type]" ui-activity-type-select>
              <option value="scored" <% if(activity_type == 'scored') {%> selected="true" <%}%>>Scored</option>
              <option value="completion" <% if(activity_type == 'completion') {%> selected="true" <%}%> >Completion</option>
            </select>
          </div>
        </div>
        <hr>
        <div class="tabs">
          <ul class="nav nav-tabs" ui-activity-tabs>
              <li class="ui-tab-header <% if(activity_type == "scored") {%> active <%}%>" <% if(activity_type == "completion") {%> style="display:none" <%}%> ui-score-color-tab-header><a href="#score_colors" data-toggle="tab">Score Colors</a></li>
              <li class="ui-tab-header <% if(activity_type == "completion") {%> active <%}%>"><a href="#optional_fields" data-toggle="tab" ui-optional-fields-tab-header>Optional Fields</a></li>
              <li class="ui-tab-header"><a href="#activity_levels" data-toggle="tab">Levels</a></li>
              <li class="ui-tab-header"><a href="#activity_tags" data-toggle="tab">Tags</a></li>
              <li class="ui-tab-header"><a href="#assign" data-toggle="tab">Assign</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane <% if(activity_type == "scored") {%> active <%}%>" id="score_colors">
            
              <div class="tab-desc animated fadeIn">
                <div class="row">              
                    <div class="col-sm-4 col-sm-offset-2">
                      <label class="control-label" style="">Score Ranges</label>
                    </div>
                </div>
                <div class="form-group form-group-sm" style="margin-bottom:20px;">           
                  <div class="col-sm-8 col-sm-offset-2">
                    <table class="score-table">
                      <tbody>
                        <tr class="">
                          <td class="success-sown" style="width:50px;"></td>
                          <td class="score-table__input-cell_top">
                            <% if(errors.max_score != null){%><div class="field_with_errors"><%}%>
                            <input class="form-control" id="inputMaxScore" name="activity[max_score]" placeholder="" type="text" value="<%= max_score %>" ui-max-score-input></div></td>
                            <% if(errors.max_score != null){%></div><%}%>
                          <td class=" score-table__label-cell_top">Maximum Score</td>
                          <td class="form-group has-error">
                            <% if(errors.max_score != null){%>
                              <span class="control-label" style="text-align:left;"><%= errors.max_score[0]%></span>
                            <%}%>
                          </td>
                        </tr>
                        <tr class="">
                          <td class="score-table__cut-off-cell success-sown" style="width:50px;"></td>
                          <td class="score-table__cut-off-cell score-table__input-cell_bottom">
                            <% if(errors.benchmark2_score != null){%><div class="field_with_errors"><%}%>
                            <input class="form-control" id="inputBenchmark2Score" name="activity[benchmark2_score]" placeholder="" type="text" value="<%= benchmark2_score %>" ui-benchmark-two-score-input>
                            <% if(errors.benchmark2_score != null){%></div><%}%>
                          </td>
                          <td class="score-table__cut-off-cell score-table__label-cell_bottom">Green Score</td>
                          <td class="form-group has-error">
                            <% if(errors.benchmark2_score != null){%>
                              <span class="control-label" style="text-align:left;"><%= errors.benchmark2_score[0]%></span>
                            <%}%>
                          </td>
                        </tr>
                        <tr class="">
                          <td class="score-table__cut-off-cell warning-sown" style="width:50px;"></td>
                          <td class="score-table__cut-off-cell score-table__input-cell_bottom">
                            <% if(errors.benchmark1_score != null){%><div class="field_with_errors"><%}%>
                            <input class="form-control" id="inputBenchmark1Score" name="activity[benchmark1_score]" placeholder="" type="text" value="<%= benchmark1_score %>" ui-benchmark-one-score-input>
                            <% if(errors.benchmark1_score != null){%></div><%}%>
                          </td>
                          <td class="score-table__cut-off-cell score-table__label-cell_bottom">Yellow Score</td>
                          <td class="form-group has-error">
                            <% if(errors.benchmark1_score != null){%>
                              <span class="control-label" style="text-align:left;"><%= errors.benchmark1_score[0]%></span>
                            <%}%>
                          </td>
                        </tr>
                        <tr class="">
                          <td class="danger-sown" style="width:50px;"></td>
                          <td class="score-table__input-cell_bottom">
                            <% if(errors.min_score != null){%><div class="field_with_errors"><%}%>
                            <input class="form-control" id="inputMinScore" name="activity[min_score]" placeholder="" type="text" value="<%= min_score %>" ui-min-score-input>
                              <% if(errors.min_score != null){%></div><%}%>
                          </td>
                          <td class="score-table__label-cell_bottom">Minimum Score</td>
                          <td class="form-group has-error">
                            <% if(errors.min_score != null){%>
                              <span class="control-label" style="text-align:left;"><%= errors.min_score[0]%></span>
                            <%}%>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane <% if(activity_type == "completion") {%> active <%}%>" id="optional_fields">
              <div class="tab-desc animated fadeInDown">

                  <div class="form-group">
                    <label class="col-md-4 control-label">Description:</label>
                    <div class="col-md-8">
                      <textarea class="form-control" id="inputDescription" name="activity[description]" placeholder="Online Math Lesson from Khan Academy" ui-description-input><%= description %></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 control-label">Mastery Goal:</label>
                    <div class="col-md-8">
                      <textarea class="form-control" id="inputInstructions" name="activity[instructions]" placeholder="90% correct" ui-instructions-input><%= instructions %></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 control-label">Link to Assignment:</label>
                    <div class="col-md-8">
                      <input class="form-control" id="inputName" name="activity[link]" placeholder="http://www.example.com/activity10" type="text" value="<%= link %>" ui-link-input>
                    </div>
                  </div>

              </div> 
            </div>
            
            <div class="tab-pane" id="activity_tags">
              <div class="tab-desc animated fadeInUp" id="tags_region">
              
              </div>
            </div>

            <div class="tab-pane" id="activity_levels">
              <div class="tab-desc animated fadeInUp" id="levels_region">
                
              </div>
            </div>

            <div class="tab-pane" id="assign">
              <div class="tab-desc animated fadeInUp">
                <h5 class="modal-title" id="myModalLabel" ui-title>Choose classrooms to assign <b><%= name %></b> to:</h5>
                  <% if(activity_status != "New"){ %>
                    <input id="activity_id" name="activity_id" type="hidden" value="<%= id%>">      
                  <% } %>
                  <% for(var i=0; i< classrooms.length; i++){%>
                    <div class="checkbox">
                      <label>
                        <input <% if(classrooms[i].classroom_activity_pairing || (classroomId == classrooms[i].id && activity_status == "New" )){ %>checked="checked" <%}%> id="classroom_hash_<%= i %>" name="classroom_hash[<%= i %>]" type="checkbox" value="<%= classrooms[i].id %>"> 
                        <%= classrooms[i].name %>             
                      </label>
                    </div>
                  <%}%>
              </div>
            </div>

          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal" ui-cancel-button>Cancel</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal" ui-save-button>Save</button>
    </div>
  </div><!-- /.modal-content -->
