<div class="modal-content">
  <form class="form-horizontal" method="post" ui-classroom-form>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h5 class="modal-title" id="myModalLabel" ui-title><%= editOrNew == "edit" ? "Edit" : "New" %> Classroom</b></h5>
    </div>
    <div class="modal-body" ui-body-div>


        <% if(editOrNew == "edit") { %>
          <input type="hidden" name="classroom[id]" value="<%= id %>">
        <% } %>


        <div class="form-group <% if(errors.name != null){%>has-error<%}%>">
          <label for="inputName" class="col-sm-4 control-label">Name</label>
          <div class="col-sm-8">
            <% if(errors.name != null){%><div class="field_with_errors"><%}%>
            <input class="form-control" id="inputName" name="classroom[name]" placeholder="1st Period History" type="text"  value="<%= _.escape(name) %>" ui-name-input>
            <% if(errors.name != null){%>
              <label class="control-label" for="inputName">Name <%= errors.name[0] %></label>
              </div>
            <%}%>
          </div>
        </div>


        <div class="form-group <% if(errors.description != null){%>has-error<%}%>">
          <label for="inputDescription" class="col-sm-4 control-label">
            Description<br>
            <span class="small" style="font-style:italic">(Optional)</span>
          </label>
          <div class="col-sm-8">
            <% if(errors.description != null){%><div class="field_with_errors"><%}%>
            <textarea class="form-control" id="inputDescription" name="classroom[description]" placeholder="Mr. Smith's 1st period history class" ui-description-input><%= description %></textarea>
            <% if(errors.description != null){%>
              <label class="control-label" for="inputName">Description <%= errors.description[0] %></label>
              </div>
            <%}%>
          </div>
        </div>


        <div class="form-group <% if(errors.classroom_code != null){%>has-error<%}%>">
          <label for="inputClassroomCode" class="col-sm-4 control-label">
            Classroom Code<br>
            <i class="ion-help-circled" data-toggle="tooltip" data-placement="bottom" title="This is what your students will enter to join your class."></i>
          </label>    
          <div class="col-sm-8">  
          <% if(errors.classroom_code != null){%><div class="field_with_errors"><%}%>    
            <input class="form-control" id="inputClassroomCode" name="classroom[classroom_code]" placeholder="smith-1-history" type="text"  value="<%= classroom_code %>" ui-classroom-code-input>
            <label class="control-label" for="inputName">
              <span class="small" style="font-style:italic">Case sensitive: letters, numbers, and dashes (no spaces)</span>
            </label>
            

            <% if(errors.classroom_code != null){%>
              <label class="control-label" for="inputName">Classroom Code <%= errors.classroom_code[0] %></label>
              </div>
            <%}%>
          </div>
        </div>    
    </div>
    <div class="modal-footer" ui-footer-div>    
      <% if(editOrNew == "new") { %>
        <input class="btn btn-primary" name="commit" type="submit" value="Create" ui-save-button>
      <% }else if(editOrNew == "edit") { %>
        <input class="btn btn-primary" name="commit" type="submit" value="Save" ui-save-button>
      <% } %>
      <button class="btn btn-default" data-dismiss="modal">Cancel</button>         
    </div>
  </form>

</div>
