
	<td>
		<a href="#" ui-name-a><%= name %></a>
	</td>
	<td><%= instructions %></td>

	<% if(student_performances[0]){ %>
		<td class="center <%= student_performances[0].performance_color %>">
			<%= student_performances[0].performance_pretty %>
			<% if(student_performances[0].requires_verification == 't' && student_performances[0].verified != 't'){ %>
				<br>Unverified
			<% } %>
		</td>
	<%}else{%>
		<td></td>
	<%}%>

	<% if(student_performances[1]){ %>
	<td class="center <%= student_performances[1].performance_color %>">
		<%= student_performances[1].performance_pretty %>
		<% if(student_performances[1].requires_verification == 't' && student_performances[1].verified != 't'){%>
			<br>Unverified
		<% } %>
	</td>
	<%}else{%>
		<td></td>
	<%}%>

	<% if(student_performances[2]){ %>
	<td class="center <%= student_performances[2].performance_color %>">
		<%= student_performances[2].performance_pretty %>
		<% if (student_performances[2].requires_verification == 't' && student_performances[2].verified != 't'){ %>
			<br>Unverified
		<% } %>
	</td>
	<%}else{%>
		<td></td>
	<%}%>

	<td><a href="#" ui-see-all-a>See All</a></td>
