
	<td>
		<a href="#" ui-name-a><%= name %></a>
	</td>
	<td><%= instructions %></td>
	

			<% if(activity_goals[0]){ %>
				<td class="center <%= activity_goals[0] && activity_goals[0].goal_met ? '': 'goal-set' %>">
		
					<a href="#" ui-set-goal-link>

						<% if(activity_goals[0].goal_met) {%> 

							<i class="ion-trophy icon_large icon_green"></i>

						<% } else { %>

							<% if(activity_type == "scored"){ %>

								<% if(activity_goals[0].goal_date != null && moment(activity_goals[0].goal_date) < moment() && !activity_goals[0].goal_met){ %> 
								
									<i class="ion-close-circled icon_large icon_gray"></i>
								
								<% } else { %>
									
									<%= activity_goals[0].score_goal %> 

									<%= activity_goals[0].goal_date ? ' by ' +  moment(activity_goals[0].goal_date).format("MM/DD") : '' %> 

								<% } %>

							<% } else if(activity_type == "completion" && activity_goals[0]){ %>

								<% if(moment(activity_goals[0].goal_date) < moment() && !activity_goals[0].goal_met){ %> 
			
									<i class="ion-close-circled icon_large icon_gray"></i>
			
								<% } else { %>
			
									Complete by <%= moment(activity_goals[0].goal_date).format("MM/DD") %> 					

								<% } %>

							<% }  %>

						<% } %>

					</a>

				</td>

			<% } else { %>
				<td class="center">
		
					<a href="#" ui-set-goal-link>	

					Set Goal

					</a>

				</td>

			<% } %>

		

	<% if(student_performances[0]){ %>
		<td class="center <%= student_performances[0].performance_color %>">
			<a href="#" class="enter-score-link" style="color:white">
				<%= student_performances[0].performance_pretty %>
			</a>
			<% if(student_performances[0].requires_verification == 't'  && student_performances[0].verified != 't'){ %> 
				<i class="ion-checkmark-circled"></i>
			<% } %>

		</td>
	<%}else{%>
		<td class="center">
			<a href="#" class="enter-score-link">Enter Score</a>
		</td>
	<%}%>

	<td class="student-scores-table__action-cell" >
		<a class="btn btn-primary btn-xs enter-score-link" href="#" ui-track-button>Track</a>
	</td>
