
	<td>
		<a href="#" ui-name-a><%= name %></a>
	</td>
	<td><%= instructions %></td>
	

			<% if(activity_goals[0]){ %>
				<td class="center <%= activity_goals[0] && activity_goals[0].goal_met ? '': 'goal-set' %>">
		
					<a href="#" ui-set-goal-link>

						<% if(activity_goals[0].goal_met) {%> 

							<i class="ion-trophy icon_large icon_green"></i>

						<% } else { %>

							<% if(activity_type == "scored"){ %>

								<% if(activity_goals[0].goal_date != null && moment(activity_goals[0].goal_date) < moment() && !activity_goals[0].goal_met){ %> 
								
									<i class="ion-close-circled icon_large icon_gray"></i>
								
								<% } else { %>
									
									<%= activity_goals[0].score_goal %> 

									<%= activity_goals[0].goal_date ? ' by ' +  moment(activity_goals[0].goal_date).format("MM/DD") : '' %> 

								<% } %>

							<% } else if(activity_type == "completion" && activity_goals[0]){ %>

								<% if(moment(activity_goals[0].goal_date) < moment() && !activity_goals[0].goal_met){ %> 
			
									<i class="ion-close-circled icon_large icon_gray"></i>
			
								<% } else { %>
			
									Complete by <%= moment(activity_goals[0].goal_date).format("MM/DD") %> 					

								<% } %>

							<% }  %>

						<% } %>

					</a>

				</td>

			<% } else { %>
				<td class="center">
		
					<a href="#" ui-set-goal-link>	

					Set Goal

					</a>

				</td>

			<% } %>

		

	<% if(student_performances[0]){ %>
		<td class="center <%= student_performances[0].performance_color %>">
			<%= student_performances[0].performance_pretty %>
			<% if(student_performances[0].requires_verification == 't'  && student_performances[0].verified != 't'){ %> <i class="ion-checkmark-circled"></i>
			<% } %>
		</td>
	<%}else{%>
		<td></td>
	<%}%>

	<% if(student_performances[1]){ %>
	<td class="center <%= student_performances[1].performance_color %>">
		<%= student_performances[1].performance_pretty %>
		<% if(student_performances[1].requires_verification == 't' && student_performances[1].verified != 't'){%> <i class="ion-checkmark-circled">
		<% } %>
	</td>
	<%}else{%>
		<td></td>
	<%}%>

	<% if(student_performances[2]){ %>
	<td class="center <%= student_performances[2].performance_color %>">
		<%= student_performances[2].performance_pretty %>
		<% if (student_performances[2].requires_verification == 't' && student_performances[2].verified != 't'){ %> <i class="ion-checkmark-circled">
		<% } %>
	</td>
	<%}else{%>
		<td></td>
	<%}%>

	<td class="student-scores-table__action-cell" >
		<ul style="display:inline; list-style-type: none; padding:0px;">
			<li style="display:inline; margin: 0px 5px;">
				<a class="btn btn-primary btn-xs" href="#" ui-track-button>Track</a>
			</li>
			<li style="display:inline; margin: 0px 5px;">
				<a class="btn btn-primary btn-xs" href="#" ui-see-all-a>See All</a>
			</li>
		</ul>
	</td>
