<%= render '/shared/top_nav' %>

<div class="container-fluid">
  <div class="row">  
    <%= render partial: '/shared/left_nav', locals: { active: 'activities' }%>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    	<h3>Assign Activity to Classrooms</h3>
      <%= form_tag '/assign_activities', {:class => 'form-horizontal'} do |f|%>
        <%= hidden_field_tag 'activity_id',  @activity.id %> 
        <%= hidden_field_tag 'redirect_path', '/activities' %> 
        <% @classrooms.each_with_index do |c, index| %>
          <div class="checkbox">
            <label>
              <%= check_box_tag 'classroom_hash[' + index.to_s + ']', c.id, !ClassroomActivityPairing.where({activity_id: @activity.id, classroom_id: c.id }).empty? %> 
              <%= c.name %>             
            </label>
          </div>
        <% end %>
        <%= submit_tag 'Assign to Classrooms', {:class => 'btn btn-primary'} %>
      <% end %>
    </div>
  </div>
</div>