<div class="button_div">
  <ul class="scores-button-ul">
    <li>
      <button class="btn btn-primary" ui-new-activity-button>New Activity</button>
    </li>
    <li>
      <button class="btn btn-primary" ui-assign-activities-button>Assign Activities</button>
    </li>
    <li>
      <a href="/teacher/export_data?classroom_id=<%= classroom.id %>" class="btn btn-primary" target="_blank" data-toggle="modal" ui-export-data-a>
        <span>Export Data</span>
      </a>
    </li>
    <li>
      <button class="btn btn-primary" ui-add-student-button>Add Student</button>
    </li>
  </ul>
  
</div>
<div style="overflow-x: scroll;" ui-table-container>
  <form ui-activities-header-form>
    <div ui-frozen-columns-container style=""></div>
    <table id="perf_table" class="table table-condensed table-bordered small scores-table" style="table-layout:fixed; width:inherit; padding-top:10px;" ui-scores-table>
      <thead>
        <tr>
          <th class="scores-table__students-header" ui-student-header>Students</th>
          <th class="scores-table__activity-header scores-table__th_activity_left-right-bordered">
            <div class="scores-table__flex-div">
              <div class="scores-table__due-date-div scores-table__due-date-div_label">
                Due Date:
              </div>
              <div class="scores-table scores-table__activity-div" >
                <div>% At Mastery</div>
                <div><a href="#" ui-mastery-header><i class="ion-arrow-down-a" class="sort_icon"></i></a></div>
              </div>
            </div>
          </th>
          <% for(var i = 0; i < activities.length; i++){ %>
              <th name="<%= activities[i].classroom_activity_pairing_id %>" class="scores-table__activity-header scores-table__activity-header_draggable " >

                <div class="scores-table__flex-div">

                  <div class="scores-table__due-date-and-drag-div">
                    <div class="scores-table__due-date-div">
                      <%= activities[i].due_date ?  moment(activities[i].due_date).format("MM/DD") : "" %>  
                    </div>
                    <div>
                      <i class="ion-drag scores-table__drag-icon"></i>
                    </div>
                  </div>

                  <div class="scores-table scores-table__activity-div">                  
                    <div class="scores-table__activity-name-div">
                      <a href="#" class="ui-activity-name-link" id="ui-activity-name-link-<%= activities[i].id %>">
                        <%= activities[i].name %>
                      </a>
                    </div>
                    <div>
                      <a href="#" class="ui_scores-table__sort_icon" id="header_<%= i %>"><i class="ion-arrow-down-a"></i></a>
                    </div>
                  </div>

                </div>
              </th>             
          <% } %>
        </tr>
      </thead>
      <tbody>    

      </tbody>
    </table>
  </form>
</div>

<% if(activities.length == 0){ %>
  <div class="jumbotron">
    <h2>Your next step: Create learning activities for your students to track</h2>
    <p>
      Click on the <a class="btn btn-primary" ui-new-activity-button>New Activity</a> button above.
    </p>
  </div>

<%} else if(collectionSize == null || collectionSize == 0){ %> 
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-12">
        <h2>Last step: Get your students signed up!</h2>
        <p>
          You’re almost done!  You can create more activities at any time, and reorder them later as needed.
        </p>

        <p>
          Now you just need to get your students ready to sign up.  Choose from one of the options below:
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="jumbotron-box">
          <h4>My classroom is 1:1 (or pretty close)</h4>
          <p>
            When you’re ready: 
          </p>
          <ol>
            <li>
              Have your students go to <a href="http://www.sowntogrow.com">www.sowntogrow.com</a> and click “I’m a new student”.  
            </li>
            <li>
              If your students have Google accounts, have them click on the "Sign Up with Google" button.<br>
              If they don't have Google accounts, have them click on the "Create An Account" button and sign up with an email and password .
            </li>
            <li>
              Once they have signed up and log in, they can join your classroom using the code you created: <b><%=classroom.classroom_code %></b>
            </li>
          </ol> 
          <p>
            <a href="https://docs.google.com/presentation/d/14L-EV-LmSlZkZGneBOrULBCmBq-Pf-m2ZWj_Ch-7lgY/edit#slide=id.gd517b2663_0_169" target="_blank">Click here</a> for a presentation that you can use with your students.  It will orient them to the tool and show them how to get started.
          </p>
          <p>If you're curious about what your students will see you can always create a student account for yourself (even with the same email address), and join your own classroom!</p>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="jumbotron-box">

          <h4>My students will need to share computers</h4>
          <p>
            You'll need to set up accounts for your students.  You can can do so by clicking the <a href="#" class="btn btn-primary" ui-add-student-button >Add Student</a> button above and following the directions in the pop up window.<br>
          </p>
          <p>
            <b>This process can be really tedious, so let us do it for you.  </b>
          </p>
          <ol>
            <li>
              <a href="mailto:rupa@sowntogrow.com">Email us your roster(s)</a> (in any form: PDF, Excel, CSV, a picture from your phone...) and we'll set up your classroom(s) for you.
            </li>
            <li>
              Once your roster is set, we'll email you to let you know it's ready (we can usually do this in a few hours).
            </li>
            <li>
              Use the "Kiosk Mode" to have your students set goals, enter their scores, and reflect to grow!
            </li>
          </ol>
        </div>
      </div>

    </div>
    
  </div>
<% } %>



