<div class="button_div">
  <ul class="scores-button-ul">
    <li>
      <button class="btn btn-primary" ui-new-activity-button>New Activity</button>
    </li>
    <li>
      <button class="btn btn-primary" ui-assign-activities-button>Assign Activities</button>
    </li>
    <li>
      <a href="/teacher/export_data?classroom_id=<%= classroom.id %>" class="btn btn-primary" target="_blank" data-toggle="modal" ui-export-data-a>Export Data</a>
    </li>
  </ul>
  
</div>
<div style="overflow-x: scroll;" ui-table-container>
  <form ui-activities-header-form>
    <div ui-frozen-columns-container style=""></div>
    <table id="perf_table" class="table table-condensed table-bordered small scores-table" style="table-layout:fixed; width:inherit; padding-top:10px;" ui-scores-table>
      <thead>
        <tr>
          <th class="scores-table__students-header" ui-student-header>Students</th>
          <th class="scores-table__activity-header scores-table__th_activity_left-right-bordered">
            <div class="scores-table__flex-div">
              <div class="scores-table__due-date-div scores-table__due-date-div_label">
                Due Date:
              </div>
              <div class="scores-table scores-table__activity-div" >
                <div>% At Mastery</div>
                <div><a href="#" ui-mastery-header><i class="ion-arrow-down-a" class="sort_icon"></i></a></div>
              </div>
            </div>
          </th>
          <% for(var i = 0; i < activities.length; i++){ %>
              <th name="<%= activities[i].classroom_activity_pairing_id %>" class="scores-table__activity-header scores-table__activity-header_draggable " >

                <div class="scores-table__flex-div">

                  <div class="scores-table__due-date-and-drag-div">
                    <div class="scores-table__due-date-div">
                      <%= activities[i].due_date ?  moment(activities[i].due_date).format("MM/DD") : "" %>  
                    </div>
                    <div>
                      <i class="ion-drag scores-table__drag-icon"></i>
                    </div>
                  </div>

                  <div class="scores-table scores-table__activity-div">                  
                    <div class="scores-table__activity-name-div">
                      <a href="#" class="ui-activity-name-link" id="ui-activity-name-link-<%= activities[i].id %>">
                        <%= activities[i].name %>
                      </a>
                    </div>
                    <div>
                      <a href="#" class="ui_scores-table__sort_icon" id="header_<%= i %>"><i class="ion-arrow-down-a"></i></a>
                    </div>
                  </div>

                </div>
              </th>             
          <% } %>
        </tr>
      </thead>
      <tbody>    

      </tbody>
    </table>
  </form>
</div>

<% if(activities.length == 0){ %>
  <div class="jumbotron">
    <h2>Your next step: Create an Activity</h2>
    <p>
      Now that you've created your classroom, it's time to create your first activity.  Get started by clicking on the <a class="btn btn-primary" ui-new-activity-button>New Activity</a> button above.
    </p>
  </div>

<%} else if(collectionSize == null || collectionSize == 0){ %> 
  <div class="jumbotron">
    <h2>Last step: Get your students signed up!</h2>
    <p>
      You're almost done!  If you want, you can keep creating more activities, but the final step to getting started is to get your students signed up!  
    </p>
    <p>When you're ready, have them go to <a href="http://www.sowntogrow.com">www.sowntogrow.com</a> and sign up for a student account.
    </p>
    <p>
      After they've signed up, they can join this classroom using the classroom code you chose when you created this class: <b><%= classroom.classroom_code %></b>
    </p>
    <p>If you're curious about what your students will see you can always create a student account for yourself, and join your own classroom!</p>
  </div>
<% } %>



